{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}{% endblock %}</title> <!-- For the title of any page-->
		<link rel="shortcut icon" href="{% static 'img/logo.png' %}"/> <!-- For the favicon of any page-->

		<meta name="description" content="A web app that allows parents to generate ChatGPT content to educate their kids.">
    	<meta name="author" content="Ighomena Daniel Odebala">

		<!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
		<!-- Custom CSS		-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

	</head>
	<body>
		<nav>
			<div class="nav-bar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="Logo" class="logo"></a>
				<h1>Welcome to AI Parent</h1>
				<p class="text-info">BETA</p>
			</div>
		</nav>

		<main>
			<div class="container-fluid">
				{% block main %}
				<!--This is where the main content of a page is displayed-->
				{% endblock %}
				<br>
			</div>
		</main>

		<!--Bootstrap JS-->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

		<!--Custom JS-->
		<script src="{% static 'js/script.js' %}"></script>

	</body>
</html>